<div class="main posts-index">
  <div class="container">
    <%= form_tag('/planter/create') do %>
      <h1>工事中</h1>
      <!-- <textarea name = "name" ></textarea>
      <input type="submit" value="ユーザー作成">
      <textarea name = "name" ></textarea>
      <input type="submit" value="ユーザー作成"> -->
    <% end %>
  </div>
</div>
