<div class="main top-main">
  <div class="top-message">
    <h2><%= @planter.name %></h2>
    <canvas id="myChart" width="200" height="70"></canvas>
    <script>draw_graph();</script>
  </div>
</div>
