<div class="main posts-index">
  <div class="container">
    <% @planter_list.each do |planter| %>
      <div class="user-index-item">
        <p>
          <%= link_to(planter.name, "/user/#{@user_name}/#{planter.id}")%>
        </p>
      </div>
    <% end %>
    <%= link_to("プランター追加", "/planter/new")%>
  </div>
</div>
