<div class="main top-main">
  <div class="top-message">
    <h2>IoT Planterでイカした生活</h2>
    <!-- <p>無限にシソを生産してみよう</p> -->
    <canvas id="myChart" width="200" height="70"></canvas>
    <script>draw_graph();</script>
  </div>
</div>
