<div class="main top-main">
  <div class="top-message">
    <%= form_tag('/user/create') do %>
      <h3>name</h3>
      <textarea name = "name" ></textarea>
      <input type="submit" value="ユーザー作成">
    <% end %>
  </div>
</div>
