// // Place all the styles related to the planter controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
.status-index {
  padding: 30px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.status-time-span{
  float: right;
}
.status-time-span li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: black;
  padding-left: 15px;
}
//
// .post-left img {
//   width: 50px;
//   height: 50px;
//   border-radius: 40%;
//   box-shadow: 0 2px 6px #c1ced7;
//   object-fit: cover;
// }
//
// .post-user-name a {
//   font-weight: 600;
// }
//
// .post-user-name a:hover {
//   color: #3ecdc6;
// }
//
// .post-left {
//   float: left;
//   width: 10%;
// }
//
// .post-right {
//   float: left;
//   width: 90%;
//   padding-left: 25px;
//   text-align: left;
// }
//
// /* posts/show ================================ */
// .posts-show form {
//   display: inline;
// }
//
// .posts-show-item {
//   padding: 30px;
//   background-color: white;
//   box-shadow: 0 2px 6px #c1ced7;
//   overflow: hidden;
// }
//
// .posts-show-item img {
//   width: 60px;
//   height: 60px;
//   border-radius: 40%;
//   box-shadow: 0 2px 6px #c1ced7;
//   vertical-align: middle;
//   object-fit: cover;
// }
//
// .posts-show-item .post-user-name a {
//   vertical-align: middle;
//   font-size: 24px;
//   margin-left: 15px;
// }
//
// .posts-show-item p {
//   font-size: 24px;
//   margin: 20px 0;
// }
//
// .post-time {
//   color: #8899a6;
//   margin-bottom: 10px;
// }
//
// .post-menus {
//   float: right;
// }
//
// .post-menus a, .post-menus input {
//   color: #8899a6;
//   text-decoration: underline;
//   font-size: 14px;
// }
//
// /* posts/new ================================ */
// .posts-new textarea {
//   font-size: 20px;
//   padding: 10px;
//   min-height: 140px;
//   border: 1px solid rgb(216, 218, 223);
//   resize: none;
// }
//
// .posts-new textarea::-webkit-input-placeholder {
//   font-size: 24px;
//   opacity: 0.5;
// }
/* top ================================ */
// .planter-main {
//   padding: 200px 0 100px;
//   text-align: center;
//   position: absolute;
//   top: 0;
//   width: 100%;
//   height: auto;
//   min-height: 100%;
//   color: white;
//   background-color: #3ecdc6;
//   background-repeat: no-repeat;
//   background-position: center 50%;
//   background-size: cover;
// }
